 1. What are data structures, and why are they important?
    - A data structure is a format for storing, accessing, and manipulating data. It acts like a container that holds data and allows for its retrieval. There are different data structures designed to store various kinds of data. Data structures are important because they enable efficient storage, access, and manipulation of different types of data. The selection of the appropriate data structure can significantly enhance efficiency and performance, optimizing operations such as searching and sorting, while also providing effective memory usage.

2. Explain the difference between mutable and immutable data types with examples?
    - Mutable data types are those that can be changed after they are created. This means that the elements of a mutable data type can be modified. Examples of mutable data types include lists, sets, and dictionaries.On the other hand, immutable data types cannot be changed once they are created. This means that the elements of an immutable data type cannot be modified. Examples of immutable data types include tuples and strings.

3. What are the main differences between lists and tuples in Python?
   - The main difference between lists and tuples is that lists are mutable data types, meaning they can be changed after they are created. This allows us to modify elements from a list and it is represent br square bracket example []. On the other hand, tuples are immutable data types, which means they cannot be changed once they are created. As a result, the elements of a tuple cannot be modified and it is represent by parenthesis example ().

4. Describe how dictionaries store data?
   - Dictionaries are a data structure that stores data in the form of key-value pairs. In a dictionary, the keys must be of an immutable type, such as strings, integers, or tuples, and must be unique while the values can be of any valid data type. we can access the value in the dictionary using the key.

5. Why might you use a set instead of a list in Python?
   - Lists and sets are both data structures which is used to store different types of data. However, sets are preferable in scenarios where we want to store unique values, as they automatically eliminate duplicate entries. Unlike lists, which can contain duplicate data, sets ensure that each element is unique. This makes sets particularly useful for operations that require uniqueness.

6. What is a string in Python, and how is it different from a list?
   - A string in Python is a collection of characters that is ordered and immutable, meaning it cannot be changed after it is created. Characters in a string can be accessed using their index numbers. Strings are commonly used to represent text, and they can be defined using single quotes (e.g., 'Hello') or double quotes (e.g., "Hello"). the main difference between string and list, string is immutable and list is mutable which means string element can not be change but on the other hand list element can be changed.

7. How do tuples ensure data integrity in Python?
   - Tuples are immutable, meaning that their elements cannot be changed once they are created. This immutability provides a form of write protection, ensuring that the data contained within a tuple remains constant throughout its lifetime.As a result, tuples help maintain data integrity by preventing accidental modifications. This characteristic makes tuples particularly useful for storing data that should not be altered, such as configuration settings or fixed collections of related values.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - Hash table is data structure that store the data in a key-value pair format and allows for fast access using keys. It is based on hash function where hash function converts the key into index that determine where the value is stored in memory.Python dictionary is implmented using a hash table,python takes each key and run a hash function on it.

9. Can lists contain different data types in Python?
   - Yes, a list in Python is a collection that can store heterogeneous data types, meaning it can contain different types of data (such as integers, strings, floats, etc.). These elements can be easily accessed using their index numbers.

10. Explain why strings are immutable in Python?
    - String are immutable because immutability allow python to optimize memory usage through a technique called string interning,where identical string are stored only onces in memory.This wouldn't be safe if string could be changed after creation.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries are used to store data in key-value pairs, while lists use indices. This means that dictionaries provide more readable and descriptive code because keys act like labels, making the structure of the data clearer compared to accessing list elements by numerical indices..Dictionaries automatically ensure key uniqueness,preventing duplicate entries and allowing easy updates which is not possible in list.Additionally list required searching through elements linearly and dictionary use hash table to retrieve value which make dictionary faster access data as compared to list.

12. Describe a scenario where using a tuple would be preferable over a list?
    - A tuple is preferable over a list in scenario where we need to store a data which fixed and not changeable, for example student roll number which is fixed and not accidentally modified,Since tuple are immutable,so immutablility make data safer which is not possible by list so in this scenario we use tuple over a list.

13. How do sets handle duplicate values in Python?
    - so set are data structure which store a data which is unoredered and must be unique,sets automatically remove duplicate value because set are designed to store unique element.when we you add items to a set,python internally use hasing mechanism to check if the item already exists, if it is present then set ignor this value and return only one instances of that value.

14. How does the “in” keyword work differently for lists and dictionaries?
    - The "in" keyword in keyword is actually a membership operator used to check for the existence of a specific item in a sequence.it behave differently for list and dictionaries.In a list, "in" keyword is use to find specific value exist in list or sequences and in a dictionary, 'in' keyword is use to find key in a dictionary not a value.

15. Can you modify the elements of a tuple? Explain why or why not?
    - No, we cannot modify the elements of a tuple because a tuple is a data structure that is immutable, meaning we cannot change its elements after they are created. This immutability provides a form of write protection, ensuring that the data contained within a tuple remains constant throughout its lifetime. As a result, tuples help maintain data integrity by preventing accidental modifications.

16. What is a nested dictionary, and give an example of its use case?
    - Nested dictionary in python is a dictionary within the another dictionary,which is allow to store data in hierachical structore. for example student management system where rollnumber is key and it's contain student info like name , age and subject marks,which is another dictionaries.
    example-
    dict1={21:{'name':'harsh','age':23,'Subject_marks':{98,95,85,89}}

17. Describe the time complexity of accessing elements in a dictionary?
    - The time complexity of accessing an element in a Python dictionary is o(1) on average, meaning it takes constant time regardless of the size of the dictionary. This efficiency is achieved through the use of a hash table, where each key is hashed to compute a specific index that directly points to its corresponding value. As a result, accessing an item by its key does not require scanning through all elements.

18. In what situations are lists preferred over dictionaries?
    - Lists are preferred over dictionaries in situations where we are working with a simple collection of items that are ordered and may contain duplicate values. If our data does not require key-value pairing, lists are a better choice. Additionally, lists are generally more efficient for operations such as sorting, searching, and appending elements.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Dictionaries are originally unordered because their internal structure did not preserve order in which key value pair added but from Python 3.7 dictionaries presereve insertion order that means that item appear in the same order they where added when we iterate over the dictionaries.In terms of data retrieval, the unordered nature does not affect how you access a specific value by its key; you can still retrieve values directly using their corresponding keys. The unordered characteristic primarily impacts operations that depend on the sequence of items, such as iteration or display.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - A list is an ordered collection of data where elements are accessed using their index numbers. For example, the first element of a list can be retrieved using index 0. In contrast, a dictionary is a collection of data in the form of key-value pairs. Data retrieval in a dictionary is done using keys rather than index numbers, which means that dictionaries do not support indexing in the same way that lists do.

In [1]:
# 1.Write a code to create a string with your name and print it
name='Harsh'
print(f'My name is {name}')

My name is Harsh

In [2]:
# 2. Write a code to find the length of the string "Hello World"
str2='Hello World'
print(len(str2))

11

In [3]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
str3="Python Programming"
print(str3[0:3])

Pyt

In [4]:
# 4. Write a code to convert the string "hello" to uppercase
str4='hello'
print(str4.upper())

HELLO

In [5]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
str5="I like apple"
print(str5.replace('apple','orange'))

I like orange

In [6]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
l=[1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

In [7]:
# 7.Write a code to append the number 10 to the list [1, 2, 3, 4]
l=[1,2,3,4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

In [8]:
# 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
l=[1,2,3,4,5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [9]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
l=['a','b','c','d']
print(l[1])

b

In [13]:
# 10.Write a code to reverse the list [10, 20, 30, 40, 50].
l=[10,20,30,40,50]
l.reverse()
print(l)

[50, 40, 30, 20, 10]

In [14]:
# 11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup=(100,200,300)
print(tup)

(100, 200, 300)

In [15]:
# 12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tup1=('red', 'green', 'blue', 'yellow')
print(tup1[1:])

('green', 'blue', 'yellow')

In [16]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tup2=(10, 20, 5, 15)
print(min(tup2))

5

In [17]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup3=('dog', 'cat', 'rabbit')
print(tup3.index('cat'))

1

In [18]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits=('Apple','Orange','Kiwi')
if "Kiwi" in fruits:
  print(True)
else:
  print(False)

True

In [19]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s={'a','b','c'}
print(s)

{'a', 'b', 'c'}

In [20]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s={1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [21]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s1={1, 2, 3, 4}
s1.remove(4)
print(s1)

{1, 2, 3}

In [22]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1={1, 2, 3}
s2={3, 4, 5}
print(s1|s2)

{1, 2, 3, 4, 5}

In [23]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1={1, 2, 3}
s2={2, 3, 4}
print(s1&s2)

{2, 3}

In [26]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict1={'name':"Harsh",'age':23,'city':"Nagpur"}
print(dict1)

{'name': 'Harsh', 'age': 23, 'city': 'Nagpur'}

In [27]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict1={'name': 'John', 'age': 25}
dict1["country"]='USA'
print(dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [28]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict2={'name': 'Alice', 'age': 30}
print(dict2['name'])

Alice

In [33]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict3={'name': 'Bob', 'age': 22, 'city': 'New York'}
dict3.pop('age')
# del dict3['age']
print(dict3)

{'name': 'Bob', 'city': 'New York'}

In [34]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict4={'name': 'Alice', 'city': 'Paris'}
if 'city' in dict4:
  print(True)
else:
  print(False)

True

In [35]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
lis=[1,2,3,4,5]
tup=(1,2,4,5,6)
dic={1:'a',2:'b',3:'c',4:'d',5:'e'}

print(lis)
print(tup)
print(dic)

[1, 2, 3, 4, 5]
(1, 2, 4, 5, 6)
{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [44]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
list1=[24,42,96,80,10]
list1.sort()
print(list1)

[10, 24, 42, 80, 96]

In [40]:
# 28. Write a code to create a list with strings and print the element at the third index.
list2=['Python','Java','C++','JavaScript','PHP']
print(list2[3])

JavaScript

In [41]:
# 29. Write a code to combine two dictionaries into one and print the result.
sub1={'C++':98,'Java':89}
sub2={'Python':99,'PHP':80}
sub1.update(sub2)
print(sub1)

{'C++': 98, 'Java': 89, 'Python': 99, 'PHP': 80}

In [42]:
# 30. Write a code to convert a list of strings into a set.
l=['Python','Java','C++','JavaScript','PHP']
s=set(l)
print(s)

{'Python', 'PHP', 'Java', 'JavaScript', 'C++'}